*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost";
}

h2{
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
}

.section-4{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url("https://images.pexels.com/photos/720606/pexels-photo-720606.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.section-3{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url("https://images.pexels.com/photos/1894263/pexels-photo-1894263.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.section-2{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url("https://images.pexels.com/photos/432059/pexels-photo-432059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

section{
    color: #fff;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url("https://images.pexels.com/photos/5985670/pexels-photo-5985670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}